.card {
  border-radius: 12px;
  position: relative;
  height: 325px;
  width: 325px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgba(0, 0, 0, 0.3) 1px;
  overflow: hidden;
}

.card__heading {
  display: flex;
  position: absolute;
  top: 15px;
  right: auto;
}

.card__title {
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.6);

  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  padding: 2px 12px;
  margin: 0 10px 0 0;
}

.card__like-btn {
  background: url("../../assets/Like-button.svg") no-repeat center;
  background-size: contain;
  width: 18px;
  height: 15px;
  opacity: 0.6;
  padding: 0;
  border: none;
  margin: auto;
  cursor: pointer;
}

.card__like-btn-liked {
  background-color: #000;
}

.card__img {
  width: 100%;
}
