.modal__preview {
  padding: 0 0 10px;
  overflow: hidden;
}

.modal__footer {
  display: flex;
  margin-left: 32px;
}

.modal__footer_own {
  display: flex;
  justify-content: space-around;
}

.modal__footer-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 32px;
  gap: 12px;
}

.modal__caption,
.modal__weather {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.modal__img {
  width: 100%;
  max-height: 500px;
}

.modal__delete-btn {
  margin-top: 20px;
  height: 24px;
  border: none;
  color: #f00;
  background-color: #fff;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.5;
}

.modal__delete-button_visible {
  display: flex;
}
.modal__delete-button_hidden {
  display: none;
}
